
@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/Arial.ttf) format('truetype');
}
@font-face {
    font-family: 'SimSun';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/NotoSansCJKsc-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Noto Sans CJK SC';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/NotoSansCJKsc-Regular.otf) format('opentype');
}
